body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100vw;
}

/* ==============================
/*          Home
/* ============================= */

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container .btn-get-start {
  display: block;
  border-radius: 50px;
  padding: 20px 35px;
  background: #e998e29b;
  transition: all 0.3s;
  cursor: pointer;
}

.home-container .btn-get-start:hover {
  padding: 20px 50px;
  background: #e998e2bb;
  color: #fff;
}

/* ==============================
/*          Header
/* ============================= */

header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 15vh;
  box-shadow: none;
  padding: 10px 0px;
  background-color: #fff;
  z-index: 10;
  transition: all 0.2s;
}

header .header-container {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0px 100px;
  padding-top: 20px;
}

.header-expander {
  width: 100vw;
  height: 15vh;
}

.header_wrapper {
  flex-grow: 1;
  display: flex;
}

.header_logo {
  width: 200px;
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  position: relative;
}

.header_logo .color-bar {
  content: '';
  height: 8px;
  width: 206px;
  background: #84d9c2;
  position: absolute;
  left: 0px;
  top: 15px;
  z-index: -1;
}

.mobile_nav_wrapper {
  display: none;
}
.web_nav_wrapper {
  display: flex;
}

.web_nav_wrapper p {
  margin-left: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  cursor: pointer;
}

.web_nav_wrapper .selected {
  color: rgba(0, 0, 0, 0.7);
}

.menu-bar {
  width: 30px;
  height: 4px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

/* ==============================
/*      Header - Side Drawer
/* ============================= */

.side-drawer p {
  margin: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1.5px;
}

.side-drawer .icon-wrapper {
  cursor: pointer;
}

.side-drawer .icon-wrapper .menu-bar {
  transition: all 0.3s;
}

.side-drawer .icon-wrapper .menu-bar.opening1 {
  transition: all 0.3s;
  transform: rotate(45deg) translate(15px);
  width: 47px;
}

.side-drawer .icon-wrapper .menu-bar.opening2 {
  transition: all 0.3s;
  transform: rotate(-45deg) translate(12px);
  width: 48px;
}

.side-drawer .icon-wrapper .menu-bar .closing1 {
}

.side-drawer .icon-wrapper .menu-bar .closing12 {
}

.side-drawer .img-icon-wrapper {
  margin-top: 50px;
}

.side-drawer .img-icon-wrapper .img-icon {
  margin: 0px 20px;
}

.side-drawer .img-icon-wrapper .img-icon svg {
  width: 40px;
  height: 40px;
}

.side-drawer .img-icon-wrapper .img-icon svg path {
  fill: whitesmoke;
}

/* ==============================
/*          Footer
/* ============================= */
footer {
  text-align: center;
  font-size: 16px;
  color: #606060;
  padding: 30px 0px;
  width: 100vw;
  background: #fff;
  display: flex;
  justify-content: center;
}

footer .img-icon-wrapper {
  display: flex;
  justify-content: center;
}

footer .img-icon-wrapper .img-icon {
  width: 30px;
  height: 30px;
  padding: 0px 10px;
}

footer .img-icon svg path {
  transition: all 0.3s;
  fill: rgba(0, 0, 0, 0.7);
}

footer .img-icon-wrapper:hover > .img-icon svg path {
  fill: rgba(0, 0, 0, 0.3);
}

footer .img-icon-wrapper .img-icon:hover svg path {
  fill: rgba(0, 0, 0, 0.7);
}

/* ==============================
/*          Not Found Page
/* ============================= */

.not_found_container {
  text-align: center;
  margin-top: 96px;
  padding: 20px;
  background-size: 5px 5px !important;
  min-height: 100vh;
  text-align: center;
  font-size: 90px;
  font-family: 'Righteous', cursive;
  color: #d5ebfe;
}

/* ==============================
/*          Work Page
/* ============================= */

.work-page {
  width: 100vw;
  background: rgba(253, 253, 253, 1);
  padding: 20px 0px;
}

.work-page p {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 1.2px;
  color: #606060;
  margin: 30px 50px;
}

.timeline-blocks-container {
  width: calc(100% - 70px);
  border-left: 2.5px solid rgba(0, 0, 0, 0.1);
  padding-left: 15px;
  margin: 40px 36px;
  margin-bottom: 50px;
  cursor: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.timeline-milestone .timeline-date_viewport {
  /*
   style the datetime text 
  */
}

.timeline-blocks-container .timeline-milestone {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
}

.timeline-milestone .timeline-date_viewport::before {
  content: '';
  width: 15px;
  height: 15px;
  background: #ffaeae;
  position: absolute;
  left: -24px;
  /*margin-top: 25px;*/
  border-radius: 100%;
}

.timeline-blocks-container .timeline-content_viewport {
  width: calc(100% - 70px);
  box-shadow: 7px 15px 20px 0 rgba(0, 0, 0, 0.03);
  padding: 20px 35px 40px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
  transition: box-shadow 0.5s ease-out;
}

.timeline-blocks-container .timeline-content_viewport:hover {
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.15);
}

/* ==============================
/*          Work Detail
/* ============================= */

.work-detail-container {
  margin: 0px 28px 0px 28px;
  border-radius: 20px;
  box-shadow: 7px 15px 20px 0 rgba(0, 0, 0, 0.03);
  background: #fff;
  padding: 38px 36px;
  position: relative;
}

.work-detail-container .close-btn {
  top: 60px;
  right: 60px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  position: absolute;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.detail-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.detail-page .title-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.detail-page .title-wrapper .icon {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-size: cover !important;
}

.detail-page .title-wrapper .title-desc-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 10px 0px;
}

.detail-page .title-wrapper .title-desc-wrapper .app-name {
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.detail-page .title-wrapper .title-desc-wrapper .app-slogan {
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  color: #606060;
}

.detail-page .title-wrapper .title-desc-wrapper .role,
.detail-page .title-wrapper .title-desc-wrapper .language {
  margin-top: 20px;
}

.detail-page .title-wrapper .title-desc-wrapper span {
  font-size: 16px;
  font-weight: 300;
  color: #606060;
}

.detail-page .title-wrapper .title-desc-wrapper label {
  font-size: 14px;
  color: #606060;
  border-radius: 50px;
  display: inline-block;
  margin: 0 6px 10px;
  background-color: #ffe8dd;
  padding: 7px 15px;
}

.detail-page .title-wrapper .title-desc-wrapper .language label {
  background-color: #e3f2ff;
}

.detail-page .project-detail h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.79;
  letter-spacing: 1.7px;
  text-align: left;
  color: #606060;
}

.detail-page .project-detail p,
.detail-page .project-detail li {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: 1.2px;
  text-align: left;
  color: #606060;
}

.detail-page .project-detail .img-group {
  display: block;
}

.detail-page .project-detail .color-scheme {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.detail-page .project-detail .img-group img {
  display: 'inline-block';
  width: 20%;
  margin-bottom: 10px;
  margin-right: 10px;
  background-size: cover !important;
}

/* ==============================
/*       About Page / Avatar
/* ============================= */

.about-page {
  width: 100vw;
  background: rgba(253, 253, 253, 1);
  padding: 20px 0px;
}

.intro {
  display: flex;
  color: #919191;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 30px auto 0;
  padding: 30px;
}

.intro .avatar-box {
  position: relative;
  border: 2px solid #f4f4fa;
  /* background: #f4f4fa; */
  border-radius: 100%;
  width: 140px;
  height: 140px;
}

.intro .avatar-box:before {
  content: ' ';
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 109%;
  border: 3px solid #98c5e9;
}

.avatar-box .avatar {
  width: 100px;
  height: 100px;
  clip-path: circle(65px at center);
  vertical-align: middle;
  padding: 30px;
  margin: -9.5px;
  background-size: cover !important;
}

.intro .name {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.7px;
  text-align: left;
  transition: all 0.3s;
  text-align: center;
}

/* ==============================
/*    About Page - Main Content
/* ============================= */

.main-content {
  box-shadow: 7px 15px 20px 0 rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  margin: 5px 28px 0px 28px;
  padding: 38px 45px;
  background: #fff;
}

.main-content h1 {
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #606060;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.79;
  letter-spacing: 1.7px;
  margin-top: 40px;
}

.main-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 1.2px;
  color: #606060;
}

.main-content label {
  font-size: 14px;
  color: #6f6f6f;
  border-radius: 50px;
  display: inline-block;
  margin: 0 6px 10px;
  background-color: #ffe8dd;
  padding: 7px 15px;
}

.email-me {
  text-align: center;
}

.email-me a {
  border-radius: 40px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: none;
  padding: 20px 30px;
  line-height: 1.23;
  margin-top: 10px;
  display: block;
  width: 300px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.5px;
  color: #606060;
  cursor: pointer;
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
  text-decoration: none;
}

.email-me a:hover {
  box-shadow: 10px 7px 10px 0 rgba(0, 0, 0, 0.15);
}

/* ==============================
/*    About Page - timestone
/* ============================= */

.main-content .timeline-container {
  position: relative;
  margin-top: 50px;
  padding-left: 15px;
  color: #919191;
  width: 100%;
  height: auto;
}

.main-content .timeline-container .timeline-milestone {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  /* border: 1px solid; */
}

.main-content .timeline-container .timeline-milestone .timeline-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 1.2px;
  width: 20%;
  /* border: 1px solid; */
  position: relative;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.main-content
  .timeline-container
  .timeline-milestone
  .timeline-date
  .paragrapah-indicator {
  content: '';
  width: 15px;
  height: 15px;
  background: #e7d1d1;
  position: absolute;
  right: -10px;
  border-radius: 100%;
}

.main-content .timeline-container .timeline-milestone .timeline-content {
  transition: all 0.5s;
  padding-left: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.5px;
  text-align: left;
  font-weight: 400;
  width: 60%;
  height: 100%;
  border-left: 2.5px solid rgba(0, 0, 0, 0.1);
}

/* 
@media screen and (max-width: 480px) {
  .mobile_nav_wrapper {
    display: block;
  }
  .web_nav_wrapper {
    display: none;
  }
  .not_found_container {
    font-size: 30px;
  }
  .main-content .timeline-container .timeline-milestone {
    flex-direction: column
  }
}

@media screen and (max-width: 768px) {
  .mobile_nav_wrapper {
    display: block;
  }
  .web_nav_wrapper {
    display: none;
  }
  .not_found_container {
    font-size: 50px;
  }
  .main-content .timeline-container .timeline-milestone {
    flex-direction: column
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mobile_nav_wrapper {
    display: none;
  }
  .web_nav_wrapper {
    display: block;
  }
  .not_found_container {
    font-size: 70px;
  }
  .main-content .timeline-container .timeline-milestone {
    flex-direction: column
  }
}
*/

@media screen and (max-width: 960px) {
  .mobile_nav_wrapper {
    display: flex;
    flex-direction: column;
    height: 27px;
    justify-content: space-between;
    cursor: pointer;
  }

  .mobile_nav_wrapper.disappear {
    opacity: 0;
  }

  .web_nav_wrapper {
    display: none;
  }
  .not_found_container {
    font-size: 50px;
  }
  .main-content .timeline-container .timeline-milestone {
    flex-direction: column;
  }
  .timeline-blocks-container .timeline-milestone {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .email-me a {
    width: 170px;
    font-size: 9px;
  }

  /* ==============================
  /*          Header
  /* ============================= */

  header {
    height: 10vh;
  }

  header .header-container {
    padding: 0px 20px;
  }

  .header-expander {
    height: 10vh;
  }

  .header_logo {
    margin: auto;
  }

  /* ==============================
  /*    About Page - timestone
  /* ============================= */

  .main-content .timeline-container .timeline-milestone .timeline-content {
    width: 100%;
    border-left: 0px;
  }

  .main-content .timeline-container .timeline-milestone .timeline-date {
    width: 100%;
    align-self: flex-start;
    font-size: 16px;
    font-weight: 600;
  }

  .main-content
    .timeline-container
    .timeline-milestone
    .timeline-date
    .paragrapah-indicator {
    left: -10px;
  }
}

@media screen and (max-width: 625px) {
  /* ==============================
/*          Work Detail
/* ============================= */

  .detail-page .title-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .detail-page .title-wrapper .title-desc-wrapper {
    margin-left: 0px;
  }

  .detail-page .title-wrapper .icon {
    width: 120px;
    height: 120px;
  }

  .detail-page .title-wrapper .title-desc-wrapper label {
    font-size: 12px;
  }

  .detail-page .title-wrapper .title-desc-wrapper .app-slogan,
  .detail-page .title-wrapper .title-desc-wrapper span {
    font-size: 14px;
  }

  .detail-page .title-wrapper .title-desc-wrapper .language {
    margin-top: 10px;
  }

  .detail-page .title-wrapper .title-desc-wrapper .language span {
    display: block;
    margin: 10px 0px;
  }

  .detail-page .project-detail h1 {
    font-size: 16px;
  }
}

/*
@media screen and (min-width: 1200px) {
  .mobile_nav_wrapper {
    display: none;
  }
  .web_nav_wrapper {
    display: block;
  }
  .timeline-blocks-container .timeline-milestone {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
}
*/
