body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100vw;
}

.bck_blue {
  background: #98c5e9;
}

/* ==============================
/*          Footer
/* ============================= */
footer {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  padding: 30px 0px;
  width: 100vw;
}

footer .img_cover {
  margin: 0 auto;
}

footer .footer_discl {
  margin: 10px 0px;
}

/* ==============================
/*          Not Found Page
/* ============================= */

.not_found_container {
  text-align: center;
  margin-top: 96px;
  padding: 20px;
  background-size: 5px 5px !important;
  min-height: 100vh;
  text-align: center;
  font-size: 90px;
  font-family: 'Righteous', cursive;
  color: #d5ebfe;
}

/* ==============================
/*          Work Page
/* ============================= */

.work-page {
  width: 100vw;
}

.timeline-blocks-container {
  width: calc(100% - 70px);
  border-left: 2.5px solid rgba(0, 0, 0, 0.4);
  padding-left: 15px;
  margin: 40px 36px;
  margin-bottom: 50px;
  cursor: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.timeline-blocks-container .timeline-milestone {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: relative;
}

.timeline-milestone .timeline-date_viewport {
  /*
   style the datetime text 
  */
}

.timeline-milestone .timeline-date_viewport::before {
  content: '';
  width: 15px;
  height: 15px;
  background: #ecdbdb;
  position: absolute;
  left: -24px;
  /*margin-top: 25px;*/
  border-radius: 100%;
}

.timeline-blocks-container .timeline-content_viewport {
  width: calc(100% - 70px);
  box-shadow: 7px 15px 20px 0 rgba(0, 0, 0, 0.03);
  padding: 20px 35px 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px;
  transition: box-shadow 0.5s ease-out;
}

.timeline-blocks-container .timeline-content_viewport:hover {
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.15);
}

/* ==============================
/*          Work Detail
/* ============================= */

.work-detail-container {
  margin: 40px 28px;
  border-radius: 20px;
  box-shadow: 7px 15px 20px 0 rgba(0, 0, 0, 0.03);
  background-color: rgba(0, 0, 0, 0.08);
  padding: 38px 36px;
  overflow: hidden;
  height: 500px;
  position: relative;
}

.work-detail-container .close-btn {
  right: 60px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  position: absolute;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==============================
/*          About Page
/* ============================= */

.about-page {
  width: 100vw;
}

.intro {
  display: flex;
  color: #919191;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 30px auto 0;
  padding: 30px;
}

.intro .avatar-box {
  position: relative;
  border: 2px solid #f4f4fa;
  /* background: #f4f4fa; */
  border-radius: 100%;
  width: 140px;
  height: 140px;
}

.intro .avatar-box:before {
  content: ' ';
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 109%;
  border: 3px solid #98c5e9;
}

.avatar-box .avatar {
  width: 100px;
  height: 100px;
  clip-path: circle(65px at center);
  vertical-align: middle;
  padding: 30px;
  margin: -9.5px;
  background-size: cover !important;
}

.intro .name {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.7px;
  text-align: left;
  transition: all 0.3s;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .mobile_nav_wrapper {
    display: block;
  }
  .web_nav_wrapper {
    display: none;
  }
  .not_found_container {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .mobile_nav_wrapper {
    display: block;
  }
  .web_nav_wrapper {
    display: none;
  }
  .not_found_container {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mobile_nav_wrapper {
    display: none;
  }
  .web_nav_wrapper {
    display: block;
  }
  .not_found_container {
    font-size: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile_nav_wrapper {
    display: none;
  }
  .web_nav_wrapper {
    display: block;
  }
  .timeline-blocks-container .timeline-milestone {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
}
